<% provide(:title, "About") %>

<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ABOUT
      </h1>
      <h2 class="subtitle">
        Esta é a página que conterá informações sobre a aplicação.
      </h2>
    </div>
  </div>
</section>
