<% provide(:title, "Help") %>

<section class="hero is-medium is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        HELP
      </h1>
      <h2 class="subtitle">
        Esta é a página de ajuda da aplicação
      </h2>
    </div>
  </div>
</section>